.skills {
    color: var(--white);
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px auto;
    padding: 4rem 0 1rem 0;
    margin-bottom: 2rem;
}    

.skills__grid {
    display: grid;
        grid-template-areas:  
        "reactjs . js . redux" 
        ". html . css ."
        "bootstrap . material-ui . tailwind" 
        ". nodejs . express ."        
    ; 
    gap: 10% 1%;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.js {
    grid-area: js;
}

.redux {
    grid-area: redux;
}    

.reactjs {
    grid-area: reactjs;
}

.nodejs {
    grid-area: nodejs;
}

.express {
    grid-area: express;
}

.bootstrap {
    grid-area: bootstrap;
}

.material-ui {
    grid-area: material-ui;
}

.tailwind {
    grid-area: tailwind;
}


.individual-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.skills__image {
    width: 2rem ;
    stroke-width: 1px;
}

.skills .name {
    font-size: var(--fsa);
}

@media (min-width: 800px) {
    
    .skills .image {
        width: 2rem;
    }
    
    .skills__grid {
        gap: 10% 3vw;
    }
}


