.contact {
    margin: 0 auto ;
    display: grid;
    place-items: center;
    text-align: center;
    padding-bottom: 0;
    min-height: 85vh;
}   

.contact h1 {
    font-size: var(--title);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.contact__wrapper {
    padding: 1rem 1%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.contact p {
    max-width: 70ch;
}

.contact__btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem auto;
}

.contact__btns .external-links,
.contact__btns .popup-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10vw;
    margin: 1rem auto;
}



