.blogs_page {
    min-height: 100vh;
}

.bp__heading {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    position: relative;
    width: 100%;
    padding: 2.5rem 0 0 0;
    white-space: nowrap;
    z-index: 2;
}

.bp__heading h1 {    
    background: linear-gradient(to left, #6610f2, #6920e9, #6b2be0, #6d33d6, #6e3acd, #8039c5, #8f3abe, #9b3bb7, #b437ad, #c935a3, #da3797, #e83e8c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 8rem);
}

.bp__wrapper {
    margin: 0px auto;
    padding: .5rem 0px;
    max-width: 1000px;
}
