.btn--copy {
    min-width: 15rem;
    word-spacing: 1rem;
    letter-spacing: 1.5px;
    padding: .5rem .15rem;
    text-transform: lowercase !important;
    display: flex; 
    text-align: center;
    align-items: center; 
    justify-content: center;
    gap: 0.5rem; 
}

.btn--copy__icon {
    margin-left: 1.25rem;
}

.typed-text::after {
    content: '|';
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@media (min-width: 800px) {
    .btn--copy {
        min-width: fit-content;
        padding: .75rem;
    }
}
