.tech-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    overflow: hidden;
}
    
.tech-modal-open {
    opacity: 1;
    pointer-events: auto;
}
  
.tech-modal {
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1.5px solid var(--white);
    border-radius: 0.5rem;
    width: 90vw;
    max-width: 700px;
    padding: .25rem 0rem 1rem 1rem;
    max-height: fit-content;
    min-height: 80vh;
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Added transition for opening effect */
}

.tech-modal__close-button {
    background: transparent;
    color: var(--white);
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.tech-modal > h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.skills {
    color: var(--white);
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin: 0px auto;
    padding: 4rem 0 1rem 0;
    margin-bottom: 2rem;
}    

.skills__grid {
    display: grid;
        grid-template-areas:  
        "reactjs . js . redux" 
        ". html . css ."
        "bootstrap . material-ui . tailwind" 
        ". nodejs . express ." 
        ". git . firebase ."       
    ; 
    gap: 10% 1%;
    overflow: scroll;
    height: fit-content;
    padding: 5% 10%;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.js {
    grid-area: js;
}

.redux {
    grid-area: redux;
}    

.reactjs {
    grid-area: reactjs;
}

.nodejs {
    grid-area: nodejs;
}

.express {
    grid-area: express;
}

.bootstrap {
    grid-area: bootstrap;
}

.material-ui {
    grid-area: material-ui;
}

.tailwind {
    grid-area: tailwind;
}

.git {
    grid-area: git;
}

.firebase {
    grid-area: firebase;
}

.individual-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.skills__image {
    stroke-width: 1px;
    fill: var(--white);
    color: var(--white);
    max-width: 2rem;
    width: 5vw;
    min-width: 1rem;
}

.skills .name {
    font-size: var(--fsa);
}

@media (min-width: 800px) {

    
    .skills .image {
        max-width: 2rem;
        width: 5vw;
        min-width: 1rem;
    }
    
    .skills__grid {
        gap: 10% 3vw;
    }
}


