.individual-blog {
    box-shadow: 0 10px 30px -15px var(--dark);
    transition: var(--transition);
    background-color: var(--dark);
    border-radius: 5px;
    min-width: 250px;
}

.blog__inner {
    display: flex;
    -moz-box-pack: justify;
    -moz-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
}

.blog__inner header {
    display: flex;
    gap: .75rem;
    flex-direction: column;
}

.blog__image {
    overflow: hidden;
}    

.blog__image img {
    width: 100%;
    aspect-ratio: 2.25;
    transition: var(--transition);
}

.blog__title {
    text-transform: capitalize;
    font-weight: normal;
    color: var(--teal);
}

.blog__description {
    font-size: var(--fs4);
    color: var(--light);
    display: -webkit-box;
    -webkit-line-clamp: 5 ;
    -webkit-box-orient: vertical ;
    overflow: hidden;
}

.blog__footer {
    font-family: var(--ff3);
    font-size: .75rem;
    color: var(--gray);
    margin: 0 1rem -.5rem 0;
}


@media (min-width: 800px) {
    .individual-blog:hover {
        transform: translateY(-.2rem);
    }
    
    .individual-blog:hover img {
        transform: scale(1.1, 1.1);
    }
    
    .individual-blog:hover .blog__title {
        color: var(--danger);
    }
}



