.primary-header {
    background-color: transparent;
    width: fit-content;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: .5rem  auto 0 auto; /* Center horizontally */
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem;
    border: .5px solid var(--gray);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    background: linear-gradient(210.3deg, #111 2%, #121212 33.84%, #1E3A8A 192.79%);
}

.nav-toggle {
    display: none;
}

.primary-navigation {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-link {
    letter-spacing: 0.5px;
    font-family: var(--ff3);
    font-weight: 500;
    color: var(--white);
    position: relative;
}

.nav-link:hover {
    color: var(--red);
}


@media screen and (max-width: 800px) {

    .primary-header {
        background-color: transparent;
        background: none;
        border: none;
        box-shadow: none;
        width: 100%;
        margin: 0;
    }

    .primary-navigation {
        position: absolute;
        height: 100vh;
        inset: 0 0 0 20%;
        flex-direction: column;
        padding: 20%;
        padding-bottom: 10%;
        gap: 1rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 250ms ease-out;
        background: rgba(0,0,0,0.75);
        backdrop-filter:blur(10px);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
    }

    .primary-navigation.visible{
        transform: translateX(0%);
    }

    .primary-navigation li{
        margin: 1.25vh 0;
    }

    .nav-toggle {
        display:flex;
        flex-direction:column;
        width: 25px;
        cursor:pointer;
        background: transparent;
        position: absolute;
        z-index: 99999;
        top: 1rem;
        right: 1rem;
    }

    .nav-toggle .line{
        background: var(--white);
        border-radius:10px;
        height:3px;
        margin: 2px 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);  
        opacity: 10;
        z-index: 111111;
    }
    
    .nav-toggle  .line:nth-of-type(1){
        width:50%;
    }
      
    .nav-toggle  .line:nth-of-type(2){
        width:100%;
    }
      
    .nav-toggle  .line:nth-of-type(3){
        width:75%;
    }
    

    .nav-toggle.visible .line:nth-of-type(1){
        transform-origin:bottom;
        transform:rotatez(45deg) translate(3px,0px)
    }
      
    .nav-toggle.visible .line:nth-of-type(2){        
        transform-origin:top;
        transform:rotatez(-45deg)
    }
      
    .nav-toggle.visible .line:nth-of-type(3){ 
        transform-origin:bottom;
        width:50%;
        transform: translate(10px,-4.5px) rotatez(45deg);
    }
     
    .nav-link {
        color: var(--white);
    }

    .nav-link:hover {
        color: var(--white);
    }

}