.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about h1 {
    margin: 1% 0 0 0;
}  

.about .inline-link.resume {
    color: var(--red);
    letter-spacing: .5px;
}

.about .inline-link.resume::after {
    background: var(--red);
    width: 100%;
}

.about__inner {
    display: grid;
    grid-template-areas: 
        "text"
        "image";
    gap: 3rem;
    justify-items: center;
    align-items: center;
    margin-top: 5%;
}

.about__inner .text-container {
    grid-area: text;
    max-width: 75ch;
}

.about__inner .image-container {
    grid-area: image;
}

.about__inner p {
    text-align: justify;
    max-width: 40rem;
}

.about__inner .card {
    max-width: 22rem;   
    height: fit-content;
    position: relative;
}

.about__inner .card::after {
    content: "";
    position: absolute;
    inset: 0;
    border-width: 2px;
    border-style: solid ;
    border-image: linear-gradient(to left, #6610f2, #9e00db, #be00c4, #d300b0, #e00f9e, #ec1e8e, #f53080, #fa4273, #ff4c5f, #ff5b4a, #ff6c33, #fd7e14) 30;
    transform: translate(-.8rem, -.8rem);
  
}

.image-container .card__image {
    max-width: 11rem;
    aspect-ratio: .85;
    object-fit: cover;   
    border-radius: 2px;  
    z-index: 2;
    position: relative;
}

.image-container .card__svg {
    bottom: -28%;
    max-width: 35em;
    z-index: 0;
    height: 125%;
    right: -9rem;
    position: absolute;    
}

.image-container .card__svg  {
    fill: var(--orange);
}



@media (min-width: 800px) {

    .about .inline-link.resume::after {
        width: 0%;;
    }

    .about .inline-link.resume:hover::after {
        width: 100%;;
    }

    .about__inner p {
        max-width: 50rem;
    }

    .about__inner {
        grid-template-areas: "image text";
        gap: 10%;
    }

    .about__inner .text-container {
        max-width: 100%;
    }

    .image-container .card__image {
        max-width: 15rem;
        min-width: 12rem;
    }

    .image-container .card__svg {
        bottom: -30%;
        height: 125%;
        right: -7rem;
    }
}