
.tech-scroller {
    cursor: pointer;
    position: relative;
    min-width: 10rem;  
    width: 75vw;
    max-width: 25rem;
    min-height: 12rem;
    background-color: transparent;
    border: 1px double white;
    outline: 1px double wheat;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tech-scroller_wrap {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    margin: auto;
    background: transparent;
}

.tech-scroller_wrap > h4 {
    position: relative;
    text-align: center;
    margin: 0 auto 0.5rem auto;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tech-scroller_category {
    position: relative;
    overflow: hidden;
    background: transparent;
}

.tech-scroller_category > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 1rem;
    background: transparent;
    min-height: 10rem;
    display: flex;
    justify-content: center;
} 

.tech-scroller_category > div.inactive {
    opacity: 0;
}

.tech-scroller_category > div.active {    
    position: relative;
    opacity: 1;    
}

.category_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20%;
    margin: auto;
    width: 100%;
}

.category_list__li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 2vh 0;
}


.tech-scroller_category div.active .image {
    min-width: 1.5rem ;
    width: 2vw;
    max-width: 1.95rem;
    stroke-width: 1px;
    fill: var(--white);
    color: var(--white);
}

.category_list .name {
    font-size: 0.5rem;
    margin: 7% auto 0 auto;
}

.tech-scroller_category div.active .image,
.tech-scroller_category div.active p {
    animation: fade-in-out 3s ease-in-out forwards;
} 

@keyframes fade-in-out {
    0%, 100% {
        opacity: 0;
        transform: scale(0);
    }
    30%, 80% {
        opacity: 1;
        transform: scale(1);
    }
}

.underliner {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-transform: capitalize;
    letter-spacing: .5px;
    font-weight: lighter;
    color: var(--red);
}

.underliner::before {
    content: "";
    display: block;
    position: relative;
    top: 7px;
    width: 986%;
    height: 1.25px;
    margin-left: -1000%;
    background-color: var(--red);
}

.underliner::after {
    content: "";
    display: block;
    position: relative;
    top: -8px;
    width: 1000%;
    height: 1.25px;
    margin-left: 110%;
    background-color: var(--red);
}

@media (min-width: 800px) {

    .tech-scroller {
        width: 25vw;
        min-height: 12rem;
    }
}