.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    padding: 5rem 0;
}

.projects h1 {
    margin-bottom: 0rem;
}

.projects .inline-link {
    color: var(--red);
    letter-spacing: .5px;
    text-transform: capitalize;
}

.projects .inline-link::after {
    background: var(--red);
    width: 100%;
}


.hidden {
    display: none;
}


@media (min-width: 800px) {

    .projects__wrapper {
        margin-top: 2rem;
    } 

    .projects .inline-link::after {
        width: 0%;;
    }

    .projects .inline-link:hover::after {
        width: 100%;;
    }

    .projects .projects__carousel {
        width: 90%;
    }

    
    #individual-projects-list {
        flex: .8;
    }

}


