
.individual-project {
    display: grid;
    gap: 0.625rem 0;
    grid-template-columns: repeat(12, .5fr);
    grid-template-rows: repeat(5, .04fr);
    cursor: default;
    max-width: 28rem;
    width: 50%;
    flex: 1;
    margin: 2rem 1rem ;
    padding: 0;
}

.project__wrapper {
    grid-area: 3 / 4 / 4 / -1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background: var(--dark);
    z-index: 1;
    padding: .75rem 1rem;  
    border-radius: 10px; 
    max-width: 30rem;  
    height: fit-content;
    border: 1px solid white;

}

.project__image-block {
    transition: var(--transition);
    grid-area: 1 / 1 / -1 / -1;
    z-index: 0;        
    background: transparent;
    transform: rotate(5deg);
    transform-origin: center;
    overflow: hidden;
    border-width: 2px;
    border-style: solid ;
    border-image: linear-gradient(to left, #6610f2, #9e00db, #be00c4, #d300b0, #e00f9e, #ec1e8e, #f53080, #fa4273, #ff4c5f, #ff5b4a, #ff6c33, #fd7e14) 30;

}

.project__image-block,
.project__wrapper {
    position: relative;
    transition: var(--transition);
}

.project__wrapper header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
}

.project__title {
    margin: .5rem 0 0 0;
}

.project__title {
    /* background: linear-gradient(to left, #6610f2, #6920e9, #6b2be0, #6d33d6, #6e3acd, #8039c5, #8f3abe, #9b3bb7, #b437ad, #c935a3, #da3797, #e83e8c); */
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    font-size: var(--fs3);
    letter-spacing: 1px;
    margin-bottom: 0;
}

.project__description{
    color: var(--light);
    font-size: var(--fssmalla);
    letter-spacing: .5px;
    text-align: left;
    word-wrap:break-word;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 6 ;
    -webkit-box-orient: vertical ;
    overflow: hidden;
}

.project__tech-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    color: var(--gray);
    font-size: var(--fssmall);
    font-family: var(--ff3);
}

.individual-project a {
    position: relative;
    z-index: 1;
}

.project__links {
    display: flex;
    justify-content:space-between;
}

.project__links .github-link a.github svg,
.project__links .external-link a.external svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
    stroke: var(--white);
    fill: transparent;
    cursor: pointer;
}

.project__image-block .project__image {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

@media (min-width: 800px) {

    .individual-project {
        max-width: 30rem;
        width: 100%;
        margin: 2rem;
    }

    .individual-project .project__wrapper {
        grid-area: 3 / 4 / 4 / -1;      
    }
    
    .individual-project .project__image-block {
        grid-area: 1 / 1 / -1 / 10;
    }

    .individual-project:hover .project__wrapper {
        transform: scale3d(0.975, 0.975, 0.975);
    }
    
    .individual-project:hover .project__image {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    .project__description{
        -webkit-line-clamp: 10 ;
    }
    
}