/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts  */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}