@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap');


/* ---------------ROOT VARIABLES------------------ */
:root {
  /* COLORS */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --black: #000;
  --gray: #697076;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #eeefef;
  --dark: #1d1e20;
  --bg-2: #f4f5ff;

  /* WIDTH */
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  /* TRANSITON */
  --transition: all 300ms ease;

  /*FONT-FAMILY*/
  --ff1: 'Roboto', sans-serif;
  --ff2: 'Source Serif Pro', serif;
  --ff3: 'Roboto Slab', serif;

  /*FONT-SIZE*/
  --title: clamp(1.7rem, 3vw, 2.5rem) ;
  --fs1: clamp(1.6rem, 2.5vw, 2.25rem);
  --fs2: clamp(1.5rem, 2vw , 1.75rem);
  --fs3: clamp(1rem, 1.7vw, 1.3rem);
  --fs4: clamp(0.8rem, 1.45vw, 1rem);
  --fs5: clamp(0.75rem, .2vw, .85rem);
  --fsa: clamp(0.85rem, 1vw, 1.1rem);
  --fssmall: clamp(0.65rem, 1vw, 0.85rem);
  --fssmalla: clamp(0.75rem, 1vw, 0.95rem)

}
/* --------------------------------- */

/* ---------------GENERALS------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
